@IMPORT url("jquery-ui-1.8.5.custom.css");

/* FLASH NEW STUFF */
/* homepage styles */
#homeStyle_value{display: none;}
.homepage_styles_thumbs{position: relative; float: left;  margin-right: 1%;text-align: center;font-weight: bold; cursor: pointer;width: 31.5%;text-transform: uppercase;padding: 25px 0;border: 1px solid #ededed;font-size: 10px;}
.homepage_styles_thumbs .homepage_styles_thumbs_image_container{margin-bottom: 15px;line-height: 0;}
.homepage_styles_thumbs.selected{background: #fff;}
.homepage_styles_thumbs img{position: relative;   }

.thumb_slides_container{line-height: 0;width: 65%;}

.captions_list_container{position: relative;float: left;width: 100%;}
.captions_list_item{position: relative;float: left;padding: 11px 10px; margin-bottom: 5px; width: 97%; border: 1px solid #ededed;cursor: move;background: #fafafa;}
.captions_list_item .saved_text{display: inline-block;}
.captions_list_item input{position: absolute;top:4px;left:6px;width: 98% !important;display: none;}

.homepage_styles_container{position: relative;float: left;width: 100%;margin: 20px 0;}
.option-container .logoUploader, .option-container .buttonUploader{margin-bottom: 25px;}
/* END OF FLASH NEW STUFF */
.thumb_cont a:hover{opacity: .8;}
.thumb_cont a.removeImage, .thumb_cont a.editImage{width: 30px !important; height: 30px !important;}
/*----------------- PAGES CSS--------------*/
.option-description {
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #8F8F8F;
	display: block;
	padding: 10px 0px;
	font-style: italic;
	line-height: 1.7em;
	width: 100%;
	float: left;
}
.description.sliderImages{float: left;width: 100%;}

.ui-dialog-titlebar h3,.ui-dialog-titlebar h4 {
	color: #fff;
	margin: 0;
	font-size: 15px;
	font-family: Arial, sans-serif;
	font-weight: normal;
}
.postbox-container .ui-widget-header {
    border: none !important;
    background: #23282d !important;
    color: #fff;
    font-weight: bold;
    font-family: Arial;
    border-radius: 0 !important;
}
.postbox-container .wpb_element_wrapper .ui-widget-header{
	background: transparent !important;
}
.postbox-container .ui-widget-header .ui-icon{
	display: none !important;
	margin: 0;
}


.ui-widget-header .ui-icon {
	float: left;
	margin-right: 5px;
}

.icon-small {
	position: relative;
	top: -4px;
	margin-right: 5px;
	width: 20px;
	height: 20px;
	float: left;
	display: none;	
}

.option-container {
	padding: 0px 10px 5px 15px;
	margin: 0px 0px 10px;
	border: 1px solid #eee;
	overflow: hidden;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	background-color: #fafafa;
}
#new-meta-boxes .option-container:not(.multicheck) label{
	float: left;
	margin-top: 22px;
	margin-right: 10px;
}
.option-container input,.option-container .page-option-title {
	width: 15%;
	float: left;
	margin-right: 35px;
}

.option-container input,.option-container textarea, .option-container input,.option-container select{
	width: 40%;
	font-size: 12px;
	margin: 15px 0 0;
	padding: 5px;
}

.option-title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #444;
	display: block;
	padding: 15px 0px 10px;
}

.ui-dialog-titlebar {
	margin-bottom: 10px;
}

/*----------- SHORTCODE BUTTONS STYLES  -------------*/
.ui-dialog .ui-dialog-titlebar {
	margin-top: 0px;
}

.imperio-shortcode-field {
	height: auto;
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 10px;
}

.imperio-shortcode-field label {
	float: left;
}

.imperio-shortcode-field input,.imperio-shortcode-field select {
	float: right;
	height: 25px;
	width: 160px;
}

.imperio-shortcode-field textarea {
	float: left;
	width: 275px;
	height: 70px;
	display: block;
}

.ui-dialog .ui-dialog-content {
	font-size: 11px;
	padding-bottom: 10px;
}

.ui-dialog-title {
	font-size: 15px;
	font-family: Georgia, "Times New Roman", "Bitstream Charter", Times,
		serif;
	font-weight: normal;
	padding-bottom: 4px;
}

.ui-dialog-content .ui-button {
	float: right;
	margin-top: 5px;
}

input.upload {
	width: 640px;
}

a.button-upload {
	width: auto;
}

.upload-button {
	float: right;
	margin-right: 30px;
	position: relative;
	top: 4px;
	width: 44px;
}

.option-container option[disabled=disabled] {
	font-weight: bold;
	text-align: center;
	background-color: #ededed;
}

.postbox .hndle span {
	text-transform: uppercase;
}

div.des_layouts{
	position: relative;
	width: 80px;
	height: 74px;
	/* border: 2px solid #CCC; */
	margin: 2px 3px 2px 0;
	cursor: pointer;
	border: 1px solid #fff;
	text-indent: -9999px;
	display: inline-block;
	float: left;
}

div.des_layouts.selected{
	border: 1px solid #26ade4;
}

div.des_layouts[title=none]{
	background: url(../images/full-layout.png);color: transparent;
}

div.des_layouts[title=left]{
	background: url(../images/left-layout.png);color: transparent;
}

div.des_layouts[title=right]{
	background: url(../images/right-layout.png);color: transparent;margin-right: 0;
}

.wpb_testimonials h4.wpb_element_title{margin-top:5px !important;}
label.testimonial_categories, label.partners_categories, label.team_categories{position:relative;float:left;width:33%;padding:.2em 0;}
label.testimonial_categories input, label.partners_categories input, label.team_categories input{margin-right:10px !important}

.description.imperio_header_image, .description.imperio_header_custom_pattern{display: none;}

.patterns_list{position: relative;float: left;}
.patterns_list .pattern_item{position: relative;float: left;width: 50px;height: 50px;margin: 3px;border: 1px solid #ededed;cursor: pointer;}
.patterns_list .pattern_item.selected{border:3px solid #333;top:-2px;left:-2px;margin-right: -1px;margin-bottom:-1px;}

.hiddenoption{display: none !important;}


.imperio_sidebars_available > h4.page-option-title{position: relative;float: left;width: 100%;}
/* sidebars posts specific */
label[for="enable_post_custom_sidebar_layout"]{float: left;padding: 10px 0px;}
input[name="enable_post_custom_sidebar_layout"]{margin-left: 45px;}


/* blog options categories - and probably all the multicheks [new type of variable] */
.multicheck.posts_filter_categories, .multicheck.posts_filter_tags, .multicheck.posts_filter_authors{padding:15px 5px;}
.multicheck.posts_filter_categories h4.posts_filter_categories, .multicheck.posts_filter_tags h4.posts_filter_tags, .multicheck.posts_filter_authors h4.posts_filter_authors{display: none;}
.option-container.multicheck label{position: relative;float: left;min-width: 200px;width:20%;margin-bottom: 10px;}
.option-container.multicheck label input{width: auto !important;margin: 1px 10px;}
.option-container.multicheck label.button{clear:both;float:none;position: relative;display: block;min-width: 90px !important;width: 0px;text-align: center;}

.option-container .captions_list_item input{
	margin: 0 !important;
}

/*newvcstuff*/
.wpb_newsletter a.vc_control-btn-edit{display: none !important;}

.wpb_icon_timeline_item{overflow: hidden;}

.wpb_verticaltabs .ui-tabs .ui-tabs-nav li{
	word-break: break-word;
  white-space: pre-wrap !important;
  word-wrap: break-word;
}
.wpb_verticaltabs .ui-state-active{background-color: #717171 !important;}
.wpb_verticaltabs .ui-state-active a span, .wpb_verticaltabs .ui-state-active a i{color: #fff !important;}

.wpb_verticaltabs.icontext .tabs_controls i{float: left !important;padding-right: 6px !important;padding-top: 2px;left: -2px;position: relative;}

.wpb_verticaltabs.icontext .tabs_controls a span{float: left; width: 81%;font-size: 13px;}

.imperio_folding_options {
	background-color: #e8e8e8 !important;
}

/* gutenberg */
#new-meta-boxes, #new-meta-post-boxes, #new-meta-portfolio-boxes, #new-meta-testimonials-boxes, #new-meta-partners-boxes{display: none;}
#new-meta-boxes.editor_ready, #new-meta-post-boxes.editor_ready, #new-meta-portfolio-boxes.editor_ready, #new-meta-testimonials-boxes.editor_ready, #new-meta-partners-boxes.editor_ready{display: block;}